body {
  background: #f2e6d9;
  font-family: sans-serif;
  margin: 0;
}
h3 {
  padding-left: 10px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #5f4121;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}
@media (max-width: 650px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header a {
  padding-left: 10px;
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  flex-direction: row;
}

@media (max-width: 650px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.logo img {
  width: 90px;
  border: 2px solid #5f4121;
}
.nav-link {
  padding: 0 15px 0 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  color: #5f4121;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;

  background: white;
  padding: 0 15px;
  box-sizing: border-box;
}
.container p {
  width: 100%;
  text-align: justify;
}

.lips {
  width: 200px;
  margin: 20px;
}
#video {
  margin: 20px 0;
}

#how {
  width: 80%;
}
.price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  width: 30%;
  margin: 10px;
}

.price img {
  height: 75px;
}

.info {
  text-align: left;
  padding: 0 0 15px 15px;
  background: #5f4121;
  color: white;
  width: 100%;
  box-sizing: border-box;
  margin: 30px 0 0 0;
}
.info a {
  text-decoration: none;
  color: #99ff66;
}

#email {
  width: 400px;
}

#submit {
  cursor: pointer;
}

.margin {
  margin-bottom: 80px;
}
